.login-form {
    max-width: 350px;
    text-align: center;
  }
 
   .login-form-button {
    width: 100%;
  }

.loginpage-container {
  position: absolute;
  top: 50%;
  left: 50%;
   width: 450 px;
  transform: translate(-50%, -50%);
   box-shadow: 0.5px 0.5px 0.5px 1px;
   font-family:Arial, Helvetica, sans-serif;
  
}
.loginpage-fullcontainer{
  background-color: rgba(255, 255, 255, 0.2);
}